<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity3"
            android:exported="true"> <!-- exported 를 true로 바꿈 -->
            <intent-filter>
                <!--                웹뷰와 네이티브 통신 설정 -->
                <!--                참조 : https://machine-woong.tistory.com/451 -->
                <action android:name="android.intent.action.VIEW" />
                <data android:host="project.example.com" android:scheme="something" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="true"> <!-- exported 를 true로 바꿈 -->
            <intent-filter>
<!--                웹뷰와 네이티브 통신 설정 -->
<!--                참조 : https://machine-woong.tistory.com/451 -->
                <action android:name="android.intent.action.VIEW" />
                <data android:host="project.example.com" android:scheme="something" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
<!--                아래는 처음 프로젝트부터 있었음 기본으로 생성됨 -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        엣날 버전일 경우 아래 추가 -->
<!--        <activity android:name=".MainActivity" />-->
    </application>

</manifest>